<header>
    <a href="/">
        <h1>POLL</h1>
    </a>
        <button class="hide">
            <svg xmlns="http://www.w3.org/2000/svg" width="67.898" height="67.898" viewBox="0 0 67.898 67.898">
                <path id="Union_1" data-name="Union 1"
                    d="M22.1,46.106V32.453a8.46,8.46,0,0,1-2.762-1.277L7.979,42.531a1.912,1.912,0,0,1-2.7-2.7l11.5-11.5a8.437,8.437,0,0,1-.884-2.4H1.913a1.913,1.913,0,0,1,0-3.825H15.991A8.453,8.453,0,0,1,17.1,19.588L5.487,7.979a1.912,1.912,0,0,1,2.7-2.7L19.849,16.933a8.445,8.445,0,0,1,2.247-.942V1.913a1.913,1.913,0,0,1,3.825,0V15.893a8.442,8.442,0,0,1,2.672,1.04L40.04,5.487a1.912,1.912,0,0,1,2.7,2.7l-11.4,11.4A8.451,8.451,0,0,1,32.453,22.1H46.106a1.913,1.913,0,0,1,0,3.825H32.55a8.45,8.45,0,0,1-1.2,2.934L42.531,40.04a1.912,1.912,0,0,1-2.7,2.7L28.594,31.511a8.441,8.441,0,0,1-2.672,1.039V46.106a1.913,1.913,0,0,1-3.825,0Z"
                    transform="matrix(0.695, 0.719, -0.719, 0.695, 34.542, 0)" fill="#390099" />
            </svg>
            <svg class="hide" xmlns="http://www.w3.org/2000/svg" width="23" height="35" viewBox="0 0 23 35">
                <path id="Subtraction_1" data-name="Subtraction 1" d="M18.208,35a18.729,18.729,0,0,1-7.087-1.375,18.454,18.454,0,0,1-3.093-1.613,18.2,18.2,0,0,1-2.695-2.137,17.8,17.8,0,0,1-2.223-2.59,17.3,17.3,0,0,1-1.679-2.973,16.929,16.929,0,0,1,0-13.624A17.3,17.3,0,0,1,3.11,7.716a17.8,17.8,0,0,1,2.223-2.59A18.2,18.2,0,0,1,8.028,2.989a18.454,18.454,0,0,1,3.093-1.613A18.729,18.729,0,0,1,18.208,0,18.951,18.951,0,0,1,23,.612a18.446,18.446,0,0,0-5.358,2.357,18,18,0,0,0-4.25,3.819,17.232,17.232,0,0,0-2.8,4.953,16.94,16.94,0,0,0,0,11.519,17.232,17.232,0,0,0,2.8,4.953,18,18,0,0,0,4.25,3.819A18.447,18.447,0,0,0,23,34.388,18.95,18.95,0,0,1,18.208,35Z" fill="#391599"/>
            </svg>
        </button>
</header>