* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.darkmode {
    background: #1d1d1d;
}

header {
    padding: 1rem 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    position: absolute;
    right: .5rem;
    top: .5rem;
    background: none;
    border: none;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
}

header button svg:last-child path {
    fill: #987ce2;
}

.hide {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.darkmode nav a path {
    fill: #987ce2;
}

main {
    padding: 4rem 5vw 0 5vw;
    width: 80vw;
    min-width: 50vw;
    max-width: 30rem;
}

header a {
    text-decoration: none;
    color: #391599; 
}

.darkmode header a{
    color: #987ce2;
}

h1 {
    font-weight: bold;
    padding-bottom: 4px;
    border-bottom: 4px solid #391599;
}

.darkmode h1 {
    border-bottom: 4px solid #987ce2; 
}

h2 {
    margin: 1rem 0;
    color: #391599; 
}

.darkmode h2 {
    color: #987ce2; 
}

.darkmode h3 {
    color: #987ce2;
}

form {
    margin-bottom: 2rem;
}

.admin label {
    color: #391599; 
    font-weight: 600;
    width: 100%;
    margin-bottom: .5rem;
    display: inline-block;
}

.darkmode label {
    color: #987ce2; 
}

.admin input {
    padding: .7rem;
    border: 1px solid #391599;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    box-sizing: border-box;
}

.darkmode .admin input {
    border: 1px solid #987ce2;
}

.darkmode .admin input::placeholder {
    color: #987ce2;
}

.admin fieldset {
    padding: 1rem;
}

.admin fieldset input {
    margin-bottom: 1rem;
    width: 100%;
}

.admin fieldset button {
    display: block;
    width: 100%;
    background-color: #391599;
    color: white;
    padding: .7rem;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    margin: 1rem 0;
    cursor: pointer;
}

.darkmode fieldset button {
    background-color: #987ce2;
}

.admin fieldset button:hover {
    background-color: #5c29eb;
}

.darkmode fieldset button:hover {
    background-color: #987ce2;
}

fieldset {
    border: 2px solid #391599;
    border-radius: 25px;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

.darkmode fieldset {
    border: 2px solid #987ce2;
}

fieldset h3 {
    height: 5rem;
    padding: 0 1rem;
}

@media (max-width: 420px) {
    fieldset h3 {
        min-height: 5rem;
        height: auto;
        padding: 0 1rem;
    }
}

.author {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.author svg {
    margin-right: .5rem;
}

.darkmode .author p {
    color: #987ce2;
}

.darkmode .author circle:first-of-type {
    fill: #987ce2;
}

.answers input {
    height: 4rem;
    position: absolute;
    width: 46%;
    z-index: -1;
    pointer-events: none;
    border: none;
}

@supports (appearance: none) {
    .answers input {
        height: 4rem;
        position: absolute;
        width: 46%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        pointer-events: none;
        border: none;
    }
}

*:focus {
    outline: 3px solid rgb(228, 172, 70);
}

*:hover {
    outline: none;
}

.answers input:first-of-type {
    left: 0;
}

.answers input:last-of-type {
    right: 0;
}

.answers label {
    width: 46%;
    height: 4rem;
    padding: .2rem;
    border: none;
    background-color: #391599;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.darkmode .answers label {
    background-color: #987ce2;
}

.answers label:hover {
    background-color: #5c29eb;
}

.darkmode .answers label:hover {
    background-color: #cabcf0;
}

.answers label:first-of-type {
    border-radius: 0 0 0 23px;
}

.answers label:last-of-type {
    border-radius: 0 0 23px 0;
}

.answers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

footer {
    padding: 2rem 0 4rem 0;
}

.darkmode footer {
    color: #987ce2;
}

.results h3 {
    margin: 2rem 0;
}

.results label {
    font-weight: 600;
    width: 100%;
    margin-bottom: .5rem;
    display: inline-block;
}

progress {
    margin-bottom: 3rem;
    background-color: white;
    border: none;
    width: 100%;
    height: 2rem;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    margin-bottom: 3rem;
    background-color: white;
    border: 3px solid #391599;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    overflow: hidden;
}
progress::-webkit-progress-value {
    margin-bottom: 3rem;
    background-color: #391599; 
}

.darkmode progress {
    background-color: #1d1d1d;
}

.darkmode progress::-webkit-progress-bar {
    background-color: #1d1d1d;
    border: 3px solid #987ce2;
}

.darkmode progress::-webkit-progress-value {
    background-color: #987ce2;
}

body > button {
    background-color: #391599;
    border: none;
    width: 4rem;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 100px;
    cursor: pointer;
    transform-origin: bottom;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 5;
    transition: 1s;
    opacity: 0;
    pointer-events: none;
}

body > button::before, body > button::after {
    content: "";
    display: block;
    background-color: white;
    width: 4px;
    height: 24px;
    transition: .5s ease-in;
    transform-origin: center top;
    position: absolute;
    border-radius: 50px;
    top: 1.2rem;
}

.darkmode > button {
    background-color: #987ce2;
}

body > button::before {
    transform: rotate(45deg);
    left: 31px;
}

body > button::after {
    transform: rotate(-45deg);
    right: 31px;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

.to-top {
    animation: scroll 1.5s ease-out forwards;
}

@keyframes scroll {
    0% {
        opacity: 1; 
        height: 4rem;
    }
    20% {
        opacity: 1; 
        height: 80vh;
    }
    60% {
        opacity: 0;
        top: calc(20vh - 2rem);
        height: 4rem;
        opacity: 1; 
    }
    100% {
        opacity: 0;
        top: calc(20vh - 2rem);
        height: 4rem;
    }
}